{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Bio</th>
                <th>Avatar</th>
                <th>Verificada</th>
                <th>Fecha</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'username': usuario.username }) }}">{{ usuario.clave }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.bio }}</td>
                <td>{{ usuario.avatar }}</td>
                <td>{{ usuario.verificada }}</td>
                <td>{% if usuario.fecha %}{{ usuario.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ usuario.username }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'username': usuario.username }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'username': usuario.username }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Create a new usuario</a>
        </li>
    </ul>
{% endblock %}
